@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/* Begin Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* image element is originally inline element */
img {
  display: block;
}

/* End Reset */

/* Utility Classes */
.nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px;
}
/* End Utility Classes */


body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;

  
  /* background-color: aliceblue;
  background-image: url("../img/bubbles.png"), 
                    linear-gradient(to left, steelblue, purple, white);
  background-repeat: repeat-y, no-repeat;
  background-position: right center; */
}

.example {
  margin-top: 1rem;
  padding-left: 20px;
  border: 1px red solid; 
}

.example img {
  width: 25%;

  /* setting the width 25% then height as auto
  this will make the height responsive to the change of the width */
  height: auto;
}

/* use container to style the content */
.container {
  background-color: rgb(251, 210, 156);
  background-image: url('../img/map-2176x1451.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
}

.hero {
  border-bottom: 2px black solid;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  background-color: hsla(0,0,100%, 0.4);
  /* background image */
  /* background-color: rgb(251, 210, 156);
  background-image: url('../img/scenic-2200x1331.png');
  background-repeat: repeat;
  background-size: cover; */
}

.h1 {
  font-size: 500%;
  color: aliceblue;
  /* makes text pop out */
  text-shadow: 2px 2px 5px black;

/*   
  background-color: rgb(90, 78, 78);
  padding: 0.25rem;
  border-radius: 10px; */
}

.profile-pic-figure {
  width: 35%;
}

.profile-pic-figure img {
  width: 100%;
  height: auto;
  min-width: 100px;
  border: 5px double gray;
  border-radius: 50%;
}

.clip {
  font-weight: 800;
  font-size: 18rem;
  text-align: center;
  background-image: url(../img/scenic-2200x1331.png);
  background-size: 100%;
  text-transform: uppercase;

  /* fill the background in the text */
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(0, 0, 0, 20%);
}